/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 0 2px;
}
.wp-pagenavi span {
	color: #BFBFBF;
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi a:active {
	text-decoration: none;
	background-color: #FFF;
	color: #06C;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border: 1px solid #000;
	color: #000;
	background-color: #FFF;
}
