.wp-pagenavi a, .wp-pagenavi span {
	padding: 2px 4px;
	margin: 2px;
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi a:active {
	text-decoration: none;
	border: 1px solid #06c;
	color: #06c;
	background-color: #FFF;
}
.wp-pagenavi a:hover, .wp-pagenavi span {
	border: 1px solid #000;
	color: #000;
	background-color: #FFF;
}
.wp-pagenavi span.current {
	font-weight: bold;
}
